@import "./partials/vars";
@import "./partials/mixins";

body, p {
  font-family: $font-family-body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

.item-underline {
  text-decoration: underline;
}

.example {
  @include themeable(color, color-primary, #3e97cc);

  // mobile
  @include respond-below(lg) {}

  // desktop
  @include respond-to(lg) {}
}